@let postRespone = postService.postResponse$ | async;
<p-contextmenu #cm [model]="items" (onHide)="selectedPost = null" />

<p-table
  [value]="postRespone?.posts ?? []"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 50]"
  [tableStyle]="{ 'max-width': '70rem', 'margin': '130px auto', 'min-height': '421px' }"
  [totalRecords]="postRespone?.total ?? 0"
  (onPage)="changePage($event)"
  [lazy]=true
  [contextMenu]="cm"
  [loading]="isLoading$ | async"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [(contextMenuSelection)]="selectedPost" 
>
  <ng-template #header>
    <tr>
      <th>Title</th>
      <th>Tags</th>
      <th>Views</th>
    </tr>
  </ng-template>
  <ng-template #body let-post>
    @if (!(isLoading$ | async)) {
      <tr [pContextMenuRow]="post" (dblclick)="goDetailInfoPage(post.id)">
        <td>{{ post.title }}</td>
        <td>{{ post.tags }}</td>
        <td>{{ post.views ?? '0' }}</td>
      </tr>
    }
  </ng-template>
  <ng-template #loadingbody>
    @for (product of quantitySkeleton; track product) {
      <tr>
        <td> <p-skeleton/> </td>
        <td> <p-skeleton/> </td>
        <td> <p-skeleton/> </td>
      </tr>
    }
  </ng-template>
</p-table>
