.header {
  z-index: 1;
  position: fixed;
  height: 120px;
  color: var(--main-color);
  background-color: rgba(24, 18, 30, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2509803922);
  flex-direction: column;
  gap: 5px;

  &-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    height: 60px;
  }
  
  &__toggle-view {
    display: flex;
    gap: 20px;
    width: var(--container-width);
    justify-content: flex-end;
    align-items: center;
  }

  &__counter {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__counter-button {
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 3px;
  }

  &__switch-button {
    border: 0;
    height: 30px;
    border-radius: 4px;
  }

  .navigation {
    display: flex;
    gap: 24px;

    a {
      text-decoration: none;
      color: var(--main-color);
      font-size: 18px;
      font-weight: 600;
    }

    .active {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}
  }

  .header-buttons-container {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .logo-container {
    width: 143px;

    .company-name {
      line-height: 100%;
      letter-spacing: 40%;
    }
  }

  .consultation-btn {
    width: 158px;
    height: 44px;
    background-color: var(--main-color);
    color: var(--accent-color);
    border: 0;
    border-radius: 4px;
  }
}