@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.overflow{
  z-index: 9999;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #00000099;
  justify-content: center;
  align-items: center;

  &__spinner {
    animation: spin 1s linear infinite;
  }
}