<div class="form-container">
  <h2 class="form-container__title">Создать пользователя</h2>

  <form [formGroup]="createForm" class="create-form w-full" (ngSubmit)="createUser()">
        <div class="create-form__input-container">
      <label>Name</label>
      <input appGradientBorder type="text" placeholder="Enter your name" formControlName="name">
      
      @if (createForm.get('name')?.touched && createForm.get('name')?.invalid) {
        <p class="error">
          @if (createForm.get('name')?.hasError('required')) {
            Поле обязательно
          } @else if (createForm.get('name')?.hasError('minlength')) {
            Минимум 2 символа
          } @else if (createForm.get('name')?.hasError('maxlength')) {
            Максимум 100 символов
          }
        </p>
      }
    </div>
    <div class="create-form__input-container">
      <label>Username</label>
      <input appGradientBorder type="text" placeholder="Enter your username" formControlName="username">
      
      @if (createForm.get('username')?.touched && createForm.get('username')?.invalid) {
        <p class="error">
          @if (createForm.get('username')?.hasError('required')) {
            Поле обязательно
          } @else if (createForm.get('username')?.hasError('minlength')) {
            Минимум 3 символа
          } @else if (createForm.get('username')?.hasError('maxlength')) {
            Максимум 30 символов
          }
        </p>
      }
    </div>
    <div class="create-form__input-container">
      <label>Email</label>
      <input appGradientBorder type="email" placeholder="Enter your email" formControlName="email">
      
      @if (createForm.get('email')?.touched && createForm.get('email')?.invalid) {
        <p class="error">
          @if (createForm.get('email')?.hasError('required')) {
            Поле обязательно
          } @else if (createForm.get('email')?.hasError('email')) {
            Введите корректный email
          } @else if (createForm.get('email')?.hasError('maxlength')) {
            Максимум 100 символов
          }
        </p>
      }
    </div>
    <div class="create-form__input-container">
      <label>Phone</label>
      <input appGradientBorder type="text" placeholder="Enter your phone" formControlName="phone">
      
      @if (createForm.get('phone')?.touched && createForm.get('phone')?.invalid) {
        <p class="error">
          @if (createForm.get('phone')?.hasError('required')) {
            Поле обязательно
          } @else if (createForm.get('phone')?.hasError('minlength')) {
            Минимум 10 символов
          } @else if (createForm.get('phone')?.hasError('maxlength')) {
            Максимум 24 символа
          }
        </p>
      }
    </div>
    <div class="create-form__input-container">
      <label>Website</label>
      <input appGradientBorder type="text" placeholder="Enter your website" formControlName="website">
      
      @if (createForm.get('website')?.touched && createForm.get('website')?.hasError('maxlength')) {
        <p class="error">Максимум 100 символов</p>
      }
    </div>
    <div formGroupName="address" class="create-form__input-container">
      <h3>Address</h3>
      
      <div class="create-form__input-container">
        <label>City</label>
        <input type="text" placeholder="Enter your city" formControlName="city">
        
        @if (createForm.get('address.city')?.touched && createForm.get('address.city')?.invalid) {
          <p class="error">
            @if (createForm.get('address.city')?.hasError('required')) {
              Поле обязательно
            } @else if (createForm.get('address.city')?.hasError('maxlength')) {
              Максимум 50 символов
            }
          </p>
        }
      </div>

      <div class="create-form__input-container">
        <label>Street</label>
        <input appGradientBorder type="text" placeholder="Enter your street" formControlName="street">
        
        @if (createForm.get('address.street')?.touched && createForm.get('address.street')?.invalid) {
          <p class="error">
            @if (createForm.get('address.street')?.hasError('required')) {
              Поле обязательно
            } @else if (createForm.get('address.street')?.hasError('maxlength')) {
              Максимум 100 символов
            }
          </p>
        }
      </div>
      <div class="create-form__input-container">
        <label>Suite</label>
        <input appGradientBorder type="text" placeholder="Enter your suite" formControlName="suite">
        
        @if (createForm.get('address.suite')?.touched && createForm.get('address.suite')?.invalid) {
          <p class="error">
            @if (createForm.get('address.suite')?.hasError('required')) {
              Поле обязательно
            } @else if (createForm.get('address.suite')?.hasError('maxlength')) {
              Максимум 50 символов
            }
          </p>
        }
      </div>
      <div class="create-form__input-container">
        <label>Zipcode</label>
        <input appGradientBorder type="text" placeholder="Enter your zipcode" formControlName="zipcode">
        
        @if (createForm.get('address.zipcode')?.touched && createForm.get('address.zipcode')?.invalid) {
          <p class="error">
            @if (createForm.get('address.zipcode')?.hasError('required')) {
              Поле обязательно
            } @else if (createForm.get('address.zipcode')?.hasError('minlength')) {
              Минимум 5 символов
            } @else if (createForm.get('address.zipcode')?.hasError('maxlength')) {
              Максимум 10 символов
            }
          </p>
        }
      </div>
      <div formGroupName="geo" class="create-form__input-container">
        <h3>Geo Location</h3>
        
        <div class="create-form__input-container">
          <label>Latitude</label>
          <input appGradientBorder type="text" placeholder="Enter latitude" formControlName="lat">
          
          @if (createForm.get('address.geo.lat')?.touched && createForm.get('address.geo.lat')?.hasError('required')) {
            <p class="error">Поле обязательно</p>
          }
        </div>

        <div class="create-form__input-container">
          <label>Longitude</label>
          <input type="text" placeholder="Enter longitude" formControlName="lng">
          
          @if (createForm.get('address.geo.lng')?.touched && createForm.get('address.geo.lng')?.hasError('required')) {
            <p class="error">Поле обязательно</p>
          }
        </div>
      </div>
    </div>
    <div formGroupName="company" class="create-form__input-container">
      <h3>Company</h3>
      
      <div class="create-form__input-container">
        <label>Company name</label>
        <input appGradientBorder type="text" placeholder="Enter company name" formControlName="name">
        
        @if (createForm.get('company.name')?.touched && createForm.get('company.name')?.invalid) {
          <p class="error">
            @if (createForm.get('company.name')?.hasError('required')) {
              Поле обязательно
            } @else if (createForm.get('company.name')?.hasError('maxlength')) {
              Максимум 50 символов
            }
          </p>
        }
      </div>

      <div class="create-form__input-container">
        <label>Catch phrase</label>
        <input appGradientBorder type="text" placeholder="Enter catch phrase" formControlName="catchPhrase">
        
        @if (createForm.get('company.catchPhrase')?.touched && createForm.get('company.catchPhrase')?.hasError('maxlength')) {
          <p class="error">Максимум 200 символов</p>
        }
      </div>

      <div class="create-form__input-container">
        <label>BS</label>
        <input appGradientBorder type="text" placeholder="Enter BS" formControlName="bs">
        
        @if (createForm.get('company.bs')?.touched && createForm.get('company.bs')?.hasError('maxlength')) {
          <p class="error">Максимум 100 символов</p>
        }
      </div>
    </div>

    <button 
      type="submit" 
      class="form-container__create-btn"
      [disabled]="createForm.invalid"
      [class.disabled]="createForm.invalid"
      >
      Создать пользователя
    </button>
  </form>
</div>