<header class="header w-full">
  <div class="header-content-wrapper">
    <div class="logo-container">
      <img class="logo" src="/images/logo/logo.svg" alt="Логотип горы" />
      <p class="company-name semi-bold fz-16">{{ companyName }}</p>
    </div>
    <nav class="navigation">
      <a href="/" id="main-link">Главная</a>
      <a href="/" id="about-guide-link">Про гида</a>
      <a href="/" id="program-link">Программа тура</a>
      <a href="/" id="cost-link">Стоимость</a>
      <a href="/" id="blog-link">Блог</a>
      <a href="/" id="contscts-link">Контакты</a>
    </nav>
    <button id="consultation-btn" class="consultation-btn">Консультация</button>
  </div>
</header>

<section class="hero-tour-search w-full">
  <div class="search-content-wrapper">
    <h1 class="first-title regular">
      Насладись прогулкой в горах <br />с командой единомышленников
    </h1>
    <div class="search-panel">
      <div class="search-inputs-container">
        <div class="input-group">
          <select id="tour-location-section" class="custom-select">
            <option value="" disabled selected>Локация для тура</option>
            <option></option>
            <option>2 человека</option>
            <option>3 человека</option>
            <option>4+ человек</option>
          </select>
          <label class="input-label regular">выберите из списка</label>
        </div>
        <div class="input-group">
          <input
            class="custom-select search-input"
            placeholder="Дата похода"
            type="date"
            value="2026-05-24"
          />
          <label class="input-label regular">укажите дату</label>
        </div>
        <div class="input-group">
          <select id="participants" class="custom-select">
            <option value="" disabled selected>Участники</option>
            <option>1 человек</option>
            <option>2 человека</option>
            <option>3 человека</option>
            <option>4+ человек</option>
          </select>
          <label class="input-label regular">выберите из списка</label>
        </div>
        <button id="search-btn" class="search-program-btn">Найти программу</button>
      </div>
    </div>
  </div>
</section>
