@if(isLoading) {
  <div class="overflow">
    <img src="images/icon/loading-icon.svg" class="overflow__spinner" alt="Загрузка...">
  </div>
}

<header class="header w-full">
  <div class="header-content-wrapper">
    <div class="logo-container">
      <img class="logo" src="/images/logo/logo.svg" alt="Логотип горы" />
      <p class="company-name semi-bold fz-16">{{ companyName }}</p>
    </div>
    <nav class="navigation">
      <a href="/" id="main-link">Главная</a>
      <a href="/" id="about-guide-link">Про гида</a>
      <a href="/" id="program-link">Программа тура</a>
      <a href="/" id="cost-link">Стоимость</a>
      <a href="/" id="blog-link">Блог</a>
      <a href="/" id="contscts-link">Контакты</a>
    </nav>
    <button id="consultation-btn" class="consultation-btn">Консультация</button>
  </div>
  <div class="header__toggle-view">
    @if(switchBtnContent === 'Показать кликер') {
      <p>{{timerValue}}</p>
    }
    @else {
      <div class="header__counter">
        <button id="counter-button-plus" (click)="addQuantity()" class="header__counter-button">+</button>
        <p>{{currentQuantity}}</p>
        <button id="counter-button-minus" (click)="reduceQuantity()" [disabled]="!currentQuantity" class="header__counter-button">-</button>
      </div>
    }
    <button id="switch-button" class="header__switch-button" (click)="changeSwitchContent()">{{switchBtnContent}}</button>
  </div>
</header>

<section class="hero-tour-search w-full">
  <div class="search-content-wrapper">
    <h1 class="first-title regular">
      Насладись прогулкой в горах <br />с командой единомышленников
    </h1>
    <div class="search-panel">
      <div class="search-inputs-container">
        <div class="input-group">
          <select id="tour-location-section" class="custom-select" [(ngModel)]='tourLocation'>
            <option value="" disabled selected>Локация для тура</option>
            <option>1 человека</option>
          <select id="tour-location-section" class="custom-select">
            <option value="" disabled selected>Локация для тура</option>
            <option></option>
            <option>2 человека</option>
            <option>3 человека</option>
            <option>4+ человек</option>
          </select>
          <label class="input-label regular">выберите из списка</label>
        </div>
        <div class="input-group">
          <input
            class="custom-select search-input"
            placeholder="Дата похода"
            type="date"
            value="2026-05-24"
            [(ngModel)]='tourData'
          />
          <label class="input-label regular">укажите дату</label>
        </div>
        <div class="input-group">
          <select id="participants" class="custom-select" [(ngModel)]='tourParticipants'>
          <select id="participants" class="custom-select">
            <option value="" disabled selected>Участники</option>
            <option>1 человек</option>
            <option>2 человека</option>
            <option>3 человека</option>
            <option>4+ человек</option>
          </select>
          <label class="input-label regular">выберите из списка</label>
        </div>
        <button 
          id="search-btn" 
          class="search-program-btn" 
          [disabled]="!tourLocation || !tourParticipants || !tourData"
        >
          Найти программу
        </button>
      </div>
    </div>  
    <div class="live-input-container">
      <input class="custom-select" placeholder="Введите текст..." [(ngModel)]="liveInputValue" type="text">
      <p>{{liveInputValue}}</p>
    </div>
  </div>
</section>

<section class="about-tour w-full">
  <div class="about-tour__container">
    <div class="about-tour__media">
      <img src="/images/gallery/about-tour-mountains.png" alt="Фото гор">
      <img src="/images/gallery/about-tour-lodge.png" alt="Фото домик в лесу" class="about-tour__above-picture">
      <button id="play-button" class="about-tour__media-play-btn">
        <img src="/images/icon/play-icon.svg" alt="Play video">
      </button>
    </div>
    <div class="about-tour__content">
      <div class="about-tour__heading">
        <p class="tagline">о нашем походе</p>
        <h2 class="about-tour__title">Исследуйте все горные массивы мира вместе с нами</h2>
      </div>
      <p class="about-tour__description">
        Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
        Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, 
        штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum,
        "consectetur"и занялся его поисками в классической латинской литературе.
      </p>
      <button id="program-btn" class="about-tour__program-button">Программа тура</button>
    </div>
  </div>
</section>

<section class="our-offer w-full">
  <div class="our-offer__container">
    <div class="our-offer__content">
      <div class="our-offer__heading">
        <p class="tagline">наше предложение</p>
        <h2 class="our-offer__title">Лучшие программы для тебя</h2>
      </div>
      <p class="our-offer__description">
        Его корни уходят в один фрагмент классической латыни 45 года н.э., 
        то есть более двух тысячелетий назад. Ричард МакКлинток, 
        профессор латыни из колледжа.
      </p>
      <div class="tours-catalog">
        @for (tour of tours; track tour.id) {
          <div class="tours-catalog__card">
            <div class="tours-catalog__icon" [ngStyle]="{'background-color': tour.bgColor}">
              <img src="{{tour.image}}" alt="Иконки карточек">
            </div>
            <div class="tours-catalog__content">
              <h3 class="tours-catalog__title">{{tour.title}}</h3>
              <p class="tours-catalog__description">{{tour.description}}</p>
            </div>
          </div>
        }
      </div>
      <button class="our-offer__program-button" id="cost-program-btn">Стоимость программ</button>
    </div>
     <div class="our-offer__media">
      <img src="/images/gallery/our-offer-coffe.png" alt="Фото коффе на фоне гор" class="our-offer__above-picture">  
      <img src="/images/gallery/our-offer-canyon.png" alt="Фото мужчина у каньона" class="our-offer__above-picture">     
      <img src="/images/gallery/our-offer-snow.png" alt="Фото мужчина на снегоходе" class="our-offer__above-picture">  
      <img src="/images/gallery/our-offer-hills.png" alt="Фото холмы" class="our-offer__above-picture">        
    </div>
  </div>
</section>
        <button id="search-btn" class="search-program-btn">Найти программу</button>
      </div>
    </div>
  </div>
</section>
