/* You can add global styles to this file, and also import other style files */
@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
a {
  cursor: pointer;
}

:root {
  --main-color: #fdfdfd;
  --second-most-color: #18121e;
  --black: #000;
  --tagtle-color: #f2be22;
  --accent-color: #1a3e3e;
  --bg-white: #fff;
  --bg-darker: #f3f5f4;
  --container-width: 1180px;
  --fz-xs: 12px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-2xl: 24px;
  --fz-3xl: 32px;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-22 {
  font-size: 22px;
}

.fz-24 {
  font-size: 24px;
}

.regular {
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.w-full {
  width: 100%;
}
